@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Lora, serif, system-ui;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: #F8F7F7;
}

html {
  scroll-behavior: smooth;
}

h1 {
  color: #283D63;
  font-size: 50px;
}

h3 {
  color: #283D63;
  font-size: 22px;
}

p{
  color: #283D63;
  font-size: 19px;
}

span{
  color: #283D63;
  font-size: 13px;
}

a {
  font-weight: 500;
  color: #283D63;
  text-decoration: inherit;
  font-size: 17px;
}
a:hover {
  color: #04B7A1;
  transition: 0.5s;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

